$girl-on-the-shore: url('/assets/images/girl_by_the_river.png');
$girl-with-the-dog: url('/assets/images/girl_with_the_dog.png');
$girl-by-the-brook: url('/assets/images/girl_by_the_brook.png');
$girl-on-the-cliff: url('/assets/images/girl_on_the_cliff.png');
$girl-by-the-van: url('/assets/images/girl_by_the_van.png');
$girl-with-autumn-trees: url('/assets/images/girl_with_autumn_trees.png');
$girl-by-the-lake: url('/assets/images/girl_by_the_lake.png');
$girl-with_smile: url('/assets/images/girl_with_smile.png');


$company-logo-white: url('/assets/logo/logo.png');
$company-logo-black: url('/assets/logo/logo-black.png');