@import "screen-size-mixins";
@import "colours";

.custom-btn {
    display: flex !important;
    justify-content: end;
    position: relative;
    display: inline-block;
    z-index: 1;
    transition: all 0.3s ease;
    
    padding: 10px;
    width: 100%;

    @import "font";
    font-family: $main-font;
    font-size: $s-font-size;
    letter-spacing: $s-font-letter-spacing;
    color: get-main-white-colour(0.9);
    
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid get-main-white-colour();

    @include xl {
        padding: 22px;
    }
}

.custom-btn-label {
    position: relative;
    display: inline-block;
    z-index: 1;
    transition: all 0.3s ease;
    width: 100%;
    &:before {
        // This is the background cover
        z-index: -1;
        position: absolute;
        top: 6px;
        left: 6px;
        content: '';
        width: 100%;
        height: 100%;
        transition: all 0.3s;
    }
    &:after {
        // This is the side line on the right
        position: absolute;
        content: " ";
        z-index: -1;
        width: 27%;
        top: 50%;
        right: -15%;
        height: 2px;
        background: get-main-white-colour();
        transition: all 0.3s ease;
    }
    &:hover {
        color: get-main-white-colour(1);
        &:before{
            background-color: get-main-white-colour(0.4);
            transition: all 0.3s;
        }
        &:after {
            width: 40%;
            right: -10%;
        }
    }
  }
