/*============================================
 Border Colour
============================================*/

@function get-main-white-colour($alpha: 0.6) {
    @return rgba(255, 255, 255, $alpha)
}

@function get-bg-gray-colour($alpha: 0.6) {
    @return rgba(113, 143, 154, $alpha);
}

$main-gray-colour: #c1b6b2;
$sub-gray-colour: #B7B6C0;
$brown-colour: #856A5D;
