@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400&display=swap');

$link-font: 'New Tegomin', serif;
$main-font: 'Quattrocento Sans', sans-serif;
$header-font: 'Fira Sans Condensed', sans-serif;

$l-font-size: 6vw;
$l-font-spacing: 7px;

$m-font-size: 20px;