@import "screen-size-mixins";
@import "font";

.foreground-container {
    position: relative;

    .image-container {
        position: relative;
        z-index: -10;
        @include xl {
            display: flex;
            justify-content: flex-end;

            height: 30vh;
            top: 140px;
            left: 0;
        }
    }
    .image-1 {
        height: 100vh;
        @import "asset-urls";
        //background-image: $girl-on-the-cliff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include xl {
            height: 100%;
            width: 85vw;
            right: -60%;
            border-radius: 69% 31% 71% 29% / 58% 69% 31% 42%;
        }
    }

    #background-blurred-overlay {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all 0.4s;
        background: rgba(0,0,0,0);
        backdrop-filter: blur(15px);
        opacity: 1;
        transition: all 0.4s;
        
        @include xl {
            display: none;
        }
    }
}

main {
    position: fixed;
    top: 54px;
    height: 100vh;
    width: 100vw;

    @include xl {
        top: 90px;
    }

    .inner-screen-container {
        position: relative;
        height: 75%;
        margin: 20px 5vw;
        @import "colours";
        color: get-main-white-colour(0.9);

        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        section {

            h1 {
                position: relative;
                width: fit-content;

                font-size: $header-font-size-sm;
                font-family: $header-font;
                font-weight: 300;
                letter-spacing: $l-font-spacing;

                @include xl {
                    font-size: $header-font-size-xl;
                    font-weight: 600;
                    letter-spacing: 25px;

                    margin-top: 16vh;
                }
            }
            .divider-line {
                width: 100%;
                height: 1px;
                @import "colours";
                background-color: get-main-white-colour(0.9);
            }
        }
        article {
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            height: fit-content;

            @include xl {
                display: flex;
                justify-content: center;
                top: 47%;
                width: 100%;
            }

            .article-contents {
                padding-bottom: 10vh;

                @include xl {
                    width: 70%;
                    backdrop-filter: blur(10px);
                }
            }

            p {
                font-size: $s-font-size;
                font-family: $main-font;
                line-height: $s-font-line-height;
                letter-spacing: $s-font-letter-spacing;
                margin-bottom: 26px;
                &:last-child {
                    margin-bottom: 40px;
                }
            }
            tr, td {
                font-size: $s-font-size;
                font-family: $main-font;
                line-height: $s-font-line-height;
                letter-spacing: $s-font-letter-spacing;
            }
        }
    }
}