@import "screen-size-mixins";

#nav-screen {
    z-index: 99;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    display: none;

    transition: all 0.4s;
    @import "colours";
    background: $brown-colour;


    ul {
        margin-top: 90px;
    }
}

@import "colours";

.menu-link {
    margin-bottom: 6px;
    backdrop-filter: blur(5px);
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    position: relative;
    left: 0;

    a {
        height: 54px;
        display: flex;
        text-decoration: none;
        padding-left: 10%;

        @include xl {
            height: 80px;
        }
    }
    @import "font";
    .menu-link-text {
        align-self: center;
        color: white;
        font-size: 36px;
        font-family: $header-font;
        z-index: 3;
        cursor: pointer;

        clip-path: inset(0 100% 0 0);
        transition: 0.7s cubic-bezier(0.37, 0, 0.63, 1);
        transition-property: clip-path;

        @include xl {
            font-size: 3vw;
        }
    }

    .is-animated {
        clip-path: inset(0) !important;
    }

    p:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: rgba(0,0,0,0);
        transition: all 0.5s;
    }
    :hover p:before{
        background: rgba(255, 255, 255, 0.342);
    }
}

