@import "screen-size-mixins";

#nav-screen {
    z-index: 99;
    width: 50vw;
    height: 100%;
    flex-wrap: wrap;
    position: fixed;
    top: 54px;
    right: 0;
    display: none;

    @include xl {
        width: 15vw;
        top: 90px;
    }
}

#background-blurred-overlay {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    background: rgba(0,0,0,0);
    backdrop-filter: blur(15px);
    opacity: 1;
    transition: all 0.4s;
}

@import "colours";
.menu-link {
    margin-bottom: 6px;
    backdrop-filter: blur(5px);
    flex-grow: 1;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    position: relative;
    right: -100%;
    transition: all 0.5s;
    border-bottom: 2px solid get-main-white-colour();
    border-left: 2px solid get-main-white-colour();

    a {
        height: 54px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-decoration: none;
        padding-left: 10%;

        @include xl {
            height: 80px;
        }
    }
    @import "font";
    p {
        align-self: center;
        color: white;
        font-size: 16px;
        font-family: $link-font;
        z-index: 3;
        cursor: pointer;

        @include xl {
            font-size: 21px;
        }
    }
    p:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: rgba(0,0,0,0);
        transition: all 0.5s;
    }
    :hover p:before{
        background: rgba(255, 255, 255, 0.342);
    }
}

