@import "screen-size-mixins";
@import "loading-animation-general";
@import "main-area";

.about-page {
    position: relative;
    .image-1 {
        position: relative;
        z-index: -10;

        height: 100vh;
        @import "asset-urls";
        background-image: $girl-on-the-cliff;
        background-position: center;
        background-repeat: no-repeat;

        @include xl {
            width: 100%;
            right: -60%;
            top: 20vh;
        }
    }

    #background-blurred-overlay {
        @include xl {
            display: none;
        }
    }
}