@import "screen-size-mixins";
@import "loading-animation-general";
@import "main-area";

.contact-page {
    .image-1 {
        @import "asset-urls";
        background-image: $girl-on-the-shore;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        label {
            @import "font";
            font-size: $s-font-size;
            font-family: $main-font;
            line-height: 24px;
            letter-spacing: 1px;
            margin-bottom: 5px;
            margin-top: 18px;
        }
        input, textarea {
            padding: 10px;
            font-size: 16px;
            display: flex !important;
            justify-content: end;
            @import "font";
            font-family: $main-font;
            @import "colours";
            color: get-main-white-colour(0.9);
            background: transparent;
            outline: none !important;
            transition: all 0.3s ease;
            border-top: transparent;
            border-right: transparent;
            border-bottom: 2px solid get-main-white-colour();
            border-left: 2px solid get-main-white-colour();
            transition: all 0.3s ease;
        }
        .text-input {
            &:focus {
                @import "colours";
                background: get-main-white-colour(0.2) !important;
            }
        }
        .submit-btn {
            margin-top: 30px;
            width: fit-content;
            cursor: pointer;
            &:hover {
                @import "colours";
                background: get-main-white-colour(0.2) !important;
            }
        }
    }
}