@import "screen-size-mixins";
@import "loading-animation-general";
@import "main-area";

.contact-page {
    .image-1 {
        @import "asset-urls";
        background-image: $girl-with-the-dog;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(10px);

        @include xl {
            flex-direction: row;
            height: 50vh;
            min-height: 330px;
        }

        .fullname-container {
            @include xl {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }
        .contact-number-container {
            @include xl {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }

        label {
            @import "font";
            font-size: $s-font-size;
            font-family: $main-font;
            line-height: 24px;
            letter-spacing: 1px;
            margin-bottom: 5px;
            margin-top: 18px;
        }

        input, textarea {
            font-size: 22px;
            line-height: 1.5;
            display: flex !important;
            justify-content: end;
            @import "font";
            font-family: $main-font;
            @import "colours";
            color: get-main-white-colour(0.9);
            background: transparent;
            outline: none !important;
            transition: all 0.3s ease;
            border-top: transparent;
            border-right: transparent;
            border-bottom: 2px solid get-main-white-colour();
            border-left: 2px solid get-main-white-colour();
            transition: all 0.3s ease;

            &:focus {
                @import "colours";
                background: get-main-white-colour(0.2) !important;
            }
        }
        .input-wrapper {
            margin-bottom: 20px;

            @include xl {
                margin-right: 20px; 
            }
        }
        .feedback-wrapper {
            margin-bottom: 20px;
            height: 50vh;

            @include xl {
                height: 100%;
            }
        }

        .sm-input {
            width: 100%;
            height: 50px;

            @include xl {
                width: 250px;
            }
        }
        .lg-input {
            width: 100%;
            height: 92%;

            @include xl {
                width: 700px;
                //height: 270px;
            } 
        }
        .button-wrapper {
            display: flex;
            justify-content: flex-end;
        }
        .submit-btn {
            width: 120px;
            height: 50px;
            justify-content: center;
            cursor: pointer;
            &:hover {
                @import "colours";
                background: get-main-white-colour(0.2) !important;
            }
        }
    }
}