@import "screen-size-mixins";
@import "loading-animation-general";
@import "main-area";

.image-1 {
    @import "asset-urls";
    background-image: $girl-by-the-brook;
}

.gallery-page {

    .gallery-article {
        text-align: center;
    
        @include xl {
            width: fit-content;
            padding: 100px 0;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
    
            backdrop-filter: blur(10px);
        }
    }

    .picture-frame {
        margin: auto;
        margin-bottom: 40px;
        width: fit-content;
        transition: all 0.3s ease;
        display: flex;
        vertical-align: bottom;
        position: relative;

        @include xl {
            margin: 0px 0px 80px 0px;
            width: 27%;
        }

        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: -10px;
            left: -10px;
            @import "colours";
            border: 2px solid get-main-white-colour(0.8);
            transition: all 0.1s;
        }

        img {
            width: 100%;
            display: block;
            height: auto;
            max-width: 80vw;
        }
        &:hover {
            box-shadow: 0 30px 30px -25px #000;
            &:before {
                top: 0;
                left: 0;
            }
        }
    }
}