@import "screen-size-mixins";
@import "loading-animation-index-page";

.home {
    height: 100vh;
    main {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include xl {
            align-items: flex-end;
            justify-content: left;
        }
    }
    .inner-container {
        max-height: 194px;
        height: 22vh;
        min-height: 130px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include xl {
            max-height: none;
            height: 30vh;
            margin-left: 60px;
            margin-bottom: 25vh;
        }

        .catch-copy {
            @import "font";
            font-family: $header-font;
            letter-spacing: $l-font-spacing;
            @import "colours";
            color: get-main-white-colour(1);
            font-size: $catch-copy-font-size;
        }
        .company-logo {
            max-height: 40px;
            height: 40%;
            max-width: 135px;
            width: 30vw;
            @import "asset-urls";
            background-image: $company-logo-white;
            background-repeat: no-repeat;
            background-size: contain;

            @include xl {
                max-height: 50px;
            }
        }
        .button-container {
            max-width: 347px;
            width: 90%;
            display: flex;
            justify-content: space-between;
            form {
                max-width: 150px;
                width: 45%;
            }
            @import "button-animation";
        }
    }
}

#slideshow {
    z-index: -10;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include xl {
        top: 130px;
        left: 170px;
        border-radius: 50% 100% 50% 35% / 50% 40% 60% 100%;
    }

    #my_video {
        display: none;
        
        @include lg {
            display: block;
        }
    }

    .slide {
        @include xl {
            background-size: cover;
        }
    }

    .slide-1 {
        @import "asset-urls";
        background-image: $girl-on-the-shore;
        background-repeat: no-repeat;
        background-position-x: 40%;
        background-position-y: 75%;
    }
    .slide-2 {
        @import "asset-urls";
        background-image: $girl-with-the-dog;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 75%;
    }
    .slide-3 {
        @import "asset-urls";
        background-image: $girl-by-the-brook;
        background-repeat: no-repeat;
        background-position-x: 40%;
        background-position-y: 75%;
    }
    .slide-4 {
        #my_video {
            // set the video centered
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); /* % of current element */

            height: 100%;
            width: 190vh; /* 100 * 1.90 / 1 (1.9:1 = video size ratio) */
            min-width: 100%;
            min-height: 52.8vw; /* 100 * 1 / 1.90 (1.9:1 = video size ratio) */
          }
    }
  }
  
  #slideshow > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }