@import "screen-size-mixins";
@import "loading-animation-general";
@import "main-area";
@import "colours";

.image-1 {
    @import "asset-urls";
    background-image: $girl-with-autumn-trees;
}

.opening-hours-article {
    display: flex;
    justify-content: center;
}

.openinghours-table {
    backdrop-filter: blur(10px);
    margin: 0 20px;
    tbody {
        display: flex;
        flex-direction: column;
        // flex-direction: row in tablet resolution;
        padding-left: 100px;

        @include xl {
            flex-direction: row;
            padding-left: 0;
            width: 800px;
            justify-content: space-around;
        }

        tr {
            display: flex;
        }

        th, td {
            @include xl {
                padding: 15px 0;
            }
        }

        .weekday-header {
            display: none;
            .day-header {
                padding-bottom: 20px;
            }

            @include xl {
                display: flex;
                flex-direction: column;
            }

            .day {
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 765px;
                    background-color: transparent;
                }
                &:nth-child(odd):before {
                    background-color: get-main-white-colour(0.2);
                }
                &:hover::before {
                    background-color: rgba($brown-colour, $alpha: 0.3);
                }
            }
        }
        .shop-column {
            flex-direction: column;
            margin-bottom: 50px;
            .shop-location {
                padding-bottom: 20px;
                text-align: right;
            }
            td {
                z-index: 1;
                position: relative;
                text-align: right;
                transition: all 0.3s ease;
                &:before {
                    z-index: 0;
                    content: attr(data-day);
                    position: absolute;
                    left: -100px;
                    right: 0;
                    text-align: left;
                    transition: all 0.3s ease;

                    @include xl {
                        display: none;
                    }
                }
                &:nth-child(odd):before {
                    background-color: get-main-white-colour(0.2);
                    @include xl {
                        display: none;
                    }
                }
                &:hover:before {
                    background-color: rgba($brown-colour, $alpha: 0.3);
                }
            }
        }
    }
}